@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Saritasa<br />
    20411 Birch St., Suite 330,<br />
    Newport Beach, CA 92660
    <abbr title="Phone">P:</abbr>
    (949) 200-6839
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@saritasa.com">info@saritasa.com</a>
</address>
