@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boring Warehouse</h1>
    <p class="lead">
        The application is itended to demonstrate how to build simple CRUD application without
        great business logic behind.
    </p>
</div>

<div class="row">
</div>
