@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input.error {
    border-color: red;
    border-width: 3px;
    border-style: solid;
}

.wide-input {
    max-width: none;
    width: 98%;
}

.task-control {
    margin-top: 10px;
}

.required:after {
    content: " *";
    font-weight: bold;
    color: red; 
}
