@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>West coast</strong><br />
    (949) 200-6839<br />
    20411 Birch St., Suite 330,<br />
    Newport Beach, CA 92660
</address>
