<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.5.0" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="xunit" version="2.1.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net461" />
  <package id="xunit.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net461" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net461" />
</packages>